<h1>Concern Module</h1>

<b>Today Date: </b> <%= @time %>
<br>
<br>

<b>List of Webpage Users: </b> <%= @Profiles_List_1 %>
<br>
<br>

<b>Second Category of Webpage Users: </b> <%= @Profiles_List_1_1 %>
<br>
<br>


<%= link_to 'Home', root_path %>
