<h1>Cities (Populating from Server-side processing)</h1>

    <table id="dataTableCities" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </thead>

        <tbody>
        </tbody>

    <tfoot>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </tfoot>
  </table>

<script>

$(document).ready(function() {
    
    var contextRoot = window.location.hostname + ":"+ window.location.port;
    
    $('#dataTableCities').DataTable({
        "processing": true,
                "serverSide": true,
                "ajax": "http://"+ contextRoot +"/users/index.json"
    });
} );

</script> 

<%= link_to 'Home', root_path %>
